node_modules
dist
.env
.env.example
.git
.github
.gitignore
.prettierrc
eslint.config.mjs
npm-debug.log
yarn-error.log
pnpm-lock.yaml

tsconfig.build.tsbuildinfo
Dockerfile
docker-compose.yml
test
docs
.agents
*.md
